.center{
    display: grid;
    place-items: center;
}
/* Styling for the form container */
form{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
  }
  @media screen and (max-width: 600px) {
    form {
        width: 75%;
        margin: auto;
    }
}
  /* Styling for the form input fields */
input{
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
  }
  
  /* Styling for the form input labels */
label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Styling for the form submit button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
button:hover {
    background-color: #45a049;
  }
  
  /* Styling for form input fields that are required */
input[required] {
    border: 1px solid #ccc;
  }
  
input[required]:focus {
    border: 1px solid #4CAF50;
  }
  
  