/* style for the login */

  #login {
    width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    #login {
        width: 90%;
        margin: auto;
    }
}

#login input[type="text"],
#login input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#login input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#login input[type="submit"]:hover {
    background-color: #3e8e41;
}


.new-register {
    display: inline-block;
    margin-top: 20px;
    color: #154c86;
    text-decoration: none;
  }
  

  .error-box {
    border: 1px solid red;
    background-color: #ffe4e4;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  