{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2">
            <h5>Tasks to be completed</h5>
            {% for i in tasks %}
            <div class="card shadow">
                    <div class="card-body">
                            <h6 class="card-title">{{i.title}}</h6>
                            <p>{{i.priority}}</p>
                            <p>Deadline -- {{i.date}}</p>
                            
                            <a class="btn btn-danger" href="{% url 'cbvdelete' i.id %}">Done</a>
                            <a class="btn btn-warning" href="{% url 'cbvupdate' i.id %}">Update</a>
                    </div>
            </div>
            <br>
            {% endfor %}
        </div>
        <div class="col-md-6">
            <a href="{% url 'cbvcreate' %}" class="btn btn-success mt-4">Create new task</a>
        </div>
    </div>
</div>
{% endblock %}