 {% extends 'base.html' %}
    {% block body %}
    <div class="container">
        <div class="row">
                <div class="col-md-6 mt-2">
                        <form method="POST" class="shadow p-4 mt-2" action="{% url 'todoapp:index' %}">
                                {% csrf_token %}
                                <div class="form-label">
                                <div class="row mb-3 pt-2 form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="row mb-3 form-group">
                                        <label for="priority">Priority</label>
                                        <input type="number" class="form-control" id="priority" name="priority">   
                                </div>
                                <div class="row mb-3 form-group">
                                        <label for="session-date">Dead line</label>
                                        <input type="date" class="form-control" name="date" id="session-date" placeholder="Deadline" min="{{ today }}">   
                                </div>
                                <div class="m-3 pb-2 text-center">
                                        <input class="btn btn-success todo-submit" type="submit">
                                </div>
                        </div>
                        </form>
                </div>
                <div class="col-md-6 mt-2">
                        <h5>Tasks to be completed</h5>

                {% if tasks %}
                    {% for task in tasks %}
                        <div class="card shadow mb-2">
                            <div class="card-body">
                                <h4 class="card-title">{{ task.title }}</h4>
                                <p class="card-text">Priority: {{ task.priority }}</p>
                                <p class="card-text">Dead Line: {{ task.date }}</p>
                                <a href="{% url 'todoapp:delete' task.id %}" class="btn btn-danger">Delete</a>
                                <a href="{% url 'todoapp:update' task.id %}" class="btn btn-warning">Edit</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No tasks found.</p>
                {% endif %}
                </div>
        </div>
    </div>
    
    {% endblock %}